@import "tailwindcss";
/* @plugin "daisyui" {
  theme: all;
} */
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

@plugin "daisyui" {
  themes: all;
  root: ":root";
  include: ;
  /* exclude: rootscrollgutter; */
  prefix: ;
  logs: true;
}

html {
  scrollbar-gutter: stable;
}

.pressed {
  @apply scale-110 bg-base-content;
}

.correct {
  @apply text-success;
}

.incorrect {
  @apply text-warning;
}

.current {
  box-shadow: inset 3px 0 0 var(--color-primary);
}


@keyframes slideOut {
  0% {
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/* ::view-transition-old(page) {
  animation: slideOut 0.5s ease-out both;
}

::view-transition-new(page) {
  animation: slideIn 0.5s ease-out both;
  animation-delay: 300ms;
} */


#rocket {
  animation: rocket-wiggle 1.5s ease-in-out infinite alternate;
}

@keyframes rocket-wiggle {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, 10px);
  }
}